<div class="page-header">
  <h3>Friend #<%= @friend.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @friend.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/friends" class="btn btn-primary">
        Back
      </a>
      <a href="/friends/<%= @friend.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_friend/<%= @friend.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Friend has many recommends -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recommends
      </li>

      <% @friend.recommends.each do |recommend| %>
        <li class="list-group-item">
          <a href="/recommends/<%= recommend.id %>">
            <%= recommend.friend_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recommends/<%= recommend.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recommends/<%= recommend.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recommend/<%= recommend.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_recommend" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for friend_id -->
      <input type="hidden" name="friend_id" value="<%= @friend.id %>">

      <!-- Label and input for entertainment_id -->
      <div class="form-group">
        <label for="entertainment_id" class="control-label">
          Entertainment
        </label>

        <%= select_tag(:entertainment_id, options_from_collection_for_select(Entertainment.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="">
      </div>

      <!-- Label and input for friend -->
      <div class="form-group">
        <label for="friend" class="control-label">
          Friend
        </label>

        <input type="text" id="friend" name="friend" placeholder="Friend" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Recommend
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Friend has many ratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ratings
      </li>

      <% @friend.ratings.each do |rating| %>
        <li class="list-group-item">
          <a href="/ratings/<%= rating.id %>">
            <%= rating.entertainment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ratings/<%= rating.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ratings/<%= rating.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_rating/<%= rating.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_rating" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for entertainment_id -->
      <div class="form-group">
        <label for="entertainment_id" class="control-label">
          Entertainment
        </label>

        <%= select_tag(:entertainment_id, options_from_collection_for_select(Entertainment.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for friend_id -->
      <input type="hidden" name="friend_id" value="<%= @friend.id %>">

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="">
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Url" class="form-control" value="">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for friend -->
      <div class="form-group">
        <label for="friend" class="control-label">
          Friend
        </label>

        <input type="text" id="friend" name="friend" placeholder="Friend" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Rating
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
