<!-- Validation failure messages -->
<% if @recommend.errors.any? %>
  <% @recommend.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Recommend</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_recommend" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for friend_id -->
      <div class="form-group">
        <label for="friend_id" class="control-label">
          Friend
        </label>

        <%= select_tag(:friend_id, options_from_collection_for_select(Friend.all, :id, :name, @recommend.friend_id), :class => "form-control") %>
      </div>

      <!-- Label and input for entertainment_id -->
      <div class="form-group">
        <label for="entertainment_id" class="control-label">
          Entertainment
        </label>

        <input type="text" id="entertainment_id" name="entertainment_id" placeholder="Entertainment" class="form-control" value="<%= @recommend.entertainment_id %>">
      </div>

      <!-- Label and input for recommend_rating_id -->
      <div class="form-group">
        <label for="recommend_rating_id" class="control-label">
          Recommend rating
        </label>

        <input type="text" id="recommend_rating_id" name="recommend_rating_id" placeholder="Recommend rating" class="form-control" value="<%= @recommend.recommend_rating_id %>">
      </div>

      <button class="btn btn-success">
        Create Recommend
      </button>
      or
      <a href="/recommends">Cancel</a>
    </form>
  </div>
</div>
